[submodule "include-what-you-use-svn"]
	path = include-what-you-use-svn
	url = git@github.com:christophgysin/include-what-you-use-svn.git
[submodule "openstack-keystone-dev"]
	path = openstack-keystone-dev
	url = git@github.com:christophgysin/openstack-keystone-dev.git
[submodule "python2-testtools"]
	path = python2-testtools
	url = git@github.com:christophgysin/python2-testtools.git
[submodule "python2-extras"]
	path = python2-extras
	url = git@github.com:christophgysin/python2-extras.git
[submodule "python2-subunit"]
	path = python2-subunit
	url = git@github.com:christophgysin/python2-subunit.git
[submodule "openstack-keystone-git"]
	path = openstack-keystone-git
	url = git@github.com:christophgysin/openstack-keystone-git.git
[submodule "libebur128"]
	path = libebur128
	url = git@github.com:christophgysin/libebur128.git
[submodule "nodejs-grovebasin"]
	path = nodejs-grovebasin
	url = git@github.com:christophgysin/nodejs-grovebasin.git
[submodule "nodejs-grovebasin-git"]
	path = nodejs-grovebasin-git
	url = git@github.com:christophgysin/nodejs-grovebasin-git.git
[submodule "pasystray"]
	path = pasystray
	url = git@github.com:christophgysin/pasystray-arch.git
[submodule "pasystray-git"]
	path = pasystray-git
	url = git@github.com:christophgysin/pasystray-git-arch.git
[submodule "libebur128-git"]
	path = libebur128-git
	url = git@github.com:christophgysin/libebur128-git.git
